html, body, #app, #homePage, #welcomeRow, #groupsRow {
	height: 100%;
}

#navBar {
	background-color: rgb(247, 249, 250);
}

#imageDropBox {
	margin: 40px;
}

body {
   font-family: "AtlasGrotesk", "sans-serif";
}
